page-food {

}


#btn-order-food{
  position: fixed;
  bottom: -4px;
  z-index: 100;
  color: white;
  height: 60px;
}

.transparent-list{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

p{
  color: white !important;
}
