// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.icon-color-red{
  font-size: 55px;
  color: #f53d3d;
}

.icon-color-blue{
  font-size: 50px;
  color: #488aff;
}

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


ion-card {
    position: relative;
    text-align: center;
  }

.card-title {
    position: absolute;
    top:80%;
    font-size: 1.15em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

.background-img{
  background-image: url('../assets/img/BackGround.png') ;
  color: white;
  background-size: 100% 100%;
}

ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, light);
}

.transparent-list{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

